*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #f6f9f9;
}
/*WPAPPER*/
.wrapper{
	max-width: 1170px;
	margin: 0 auto;

}
/*HEADER*/
.header{
	margin-bottom: 80px;
	text-align: center;
}
.subtitle,.title{
	font-family: Lato,Arial,sans-serif;
	font-weight: normal;
	text-align: center;
}
.title{
	font-size: 41px;
	color: #2e3a50;
	line-height: 45px;
	padding:52px 0 16px;

}
.subtitle{
	font-size: 15px;
	color: #b2b3b3;
	line-height: 18px;

}
/*IMAGES*/
.images{
	
	font-size: 0;
	text-align: center;
}
.box{
	width: 360px;
	display: inline-block;
	position: relative;
	margin: 0 15px 30px;
}
.box_image{
	display: block;
}
.box__layout{
	display: none;
	background-color: rgba(37, 166, 247, 0.9);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 0;
	border-radius:2px; 
}
.box:hover .box__layout{
	display: inline-block;
}
.button{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 2px;
	margin: 109px 5px 0 5px;
}
.button:hover{
	background-color: #25a6f7;
}
.button:after{
	content: '';
	width: 15px;
	height: 15px;
	display: block;
	margin: 13px auto 0;
	background:url(img/icon.gif) 0 0 no-repeat;
}
.button--link:after{
	background-position: -15px 0;
}
/*POPUP*/
.overlay{
	display: none;
	background: rgba(255, 255, 255, 0.9);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.popup{
	display: none;
	position: fixed;
	left: 50%;
	bottom:25px;
	margin: 0 0 0 -573px;
	width: 1140px;
	height: 550px;
	border: 4px solid #999999;
}
.popup-image{
	display: inline-block;
}
.popup_close{
	width: 40px;
	height: 40px;
	background: #f74c26 url(img/icon1.gif) center center no-repeat;
	top:-23px;
	right: 17px;
	position: absolute;
}