
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,400italic);	
@font-face{
    font-family: 'Futura bold';
    src: url(fonts/139913.ttf);
}
@font-face{
    font-family: 'Futura bk';
    src:url(fonts/ufonts.com_futura-bk-bt-book.woff);
}
body{
	width: 100%;
	padding:0;
	margin: 0;
	outline: 0;
	background: #ffffff;
	font-family: 'Trebuchet MS';
}
.header{
	background:#ffffff;
	width: 1023px;
	margin: 0 189px;
	height:123px;
}	
.logo{
	background: url(img/logo.png) 0 48px no-repeat;
	width: 40%;
	height: 100%;
	position: relative;
}
.header ul{
	margin: 0;
	padding: 0;
	position:relative;
	left: 445px;
	width: 580px;
	top: -123px;
}
.header li{
	padding: 67px 16px 36px 16px ;
	font-size: 14px;
	text-transform: uppercase;
	font-family:'Open Sans', sans-serif;
	color: #989898;
	list-style-type: none;
	display: inline-block;
}
.header li:hover{
	border-bottom: 4px solid #3070a8;
}
.banner{
	background: url(img/page1.jpg);
	width: 1400px;
	height: 577px;
}
.banner h4{
	font-family: 'Futura bk',serif-serif;
	color: #ffffff;
	font-weight: bold;
	text-align: center;
	font-size: 36px;
	margin: 0;
	padding: 140px 0 0 ;

}
.banner h1{
	font-family: 'Futura bk',sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 48px;
	font-weight: bold;
	margin: 10px 0;
	padding: 0;
}
.banner p{
	color: #ffffff;
	font-style:italic;
	font-family:'Calibri';
	text-align: center;
	font-size: 20px;
	padding: 5px 0 0 0;
	margin:0;
	font-weight: lighter;
}
.banner button{
	background: none;
	border:1px solid #ffffff;
	width: 250px;
	height: 60px;
	font-size: 16px;
	text-transform: uppercase;
	font-family:'Open Sans', sans-serif;
	color: #ffffff;
	margin: 45px 570px;
	padding: 0;

}
.banner button:hover{
	cursor: pointer;
}
.services{
	background: #ffffff;
	width: 1023px;
	margin: 0 189px;
	height: 565px;
	padding: 0;
}
.services h4{
	padding: 70px 0;
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	color: #41525c;
}
.services div{
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 337px;
}
.services img{
	margin:0 0 0 97px;
}
.services div p{
	text-align: center;
	color: #a7a7a7;
	font-family: 'Open Sans',sans-serif;
	font-weight: normal;
}
.services div p:first-of-type{
	font-size: 30px;
	text-transform: uppercase;
	color: #3070a8;
	font-weight: lighter;
	margin: 30px 0;
	font-family: 'Futura bk',serif-serif;
}

.midle-section{
	background: url(img/page2.jpg);
	width: 1400px;
	height: 577px;
}
.midle-section div{
	width: 1023px;
	margin: 0 auto;
}
.midle-section h1{
	font-family: 'Futura bk',serif-serif;
	color: #ee8129;
	font-size: 25px;
	padding: 70px 340px 0 0;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 2;
}
.midle-section h6{
	width: 630px;
	padding: 10px 0 0 0;
	color: #f1f1f1;
	font-size: 16px;
	font-family: 'Open Sans',sans-serif;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.8px;
}
.midle-section ul{
	list-style-position: inside;
	width: 630px;
	font-family: 'Open Sans',sans-serif;
}
.midle-section li:first-of-type{
	color:#9d9d9d;
	font-size: 14px;
	margin: 35px 0 0 20px;
	line-height: 1.8;
	letter-spacing: 0.2px;
}
.midle-section li{
	color:#9d9d9d;
	font-size: 14px;
	margin: 20px 0 0 20px;
	line-height: 1.8;
	letter-spacing: 0.2px;
}
.midle-section li:hover{
	color: #2c6495;
	cursor: pointer;
}
.testimonials{
	position: relative;
	margin: 0;
	padding: 0;
	width: 1400px;
	background:url(img/task2.jpg) ;
	height: 315px;
	font-family: "Trebuchet MS";
}
.testimonials div{
	margin: 0;
	padding: 0;
}
.testimonials h2{
	position: relative;
	text-align: center;
	text-transform: uppercase;
	color:#ee8129;
	font-size: 40px;
	font-weight: normal;
	top:55px;
}
.testimonials h2 span{
	color: #3170a8;
}
.customer1{
	margin: 0;
	padding: 0;
	width:490px;
	height:98px;
}
.testimonials ul{
	margin: 0;
	padding: 0;
	width: 365px;
}
.testimonials li{
	padding:0 15px;
}
.testimonial1 li{
	width: 335px;
	height: 98px;
	background: #fff;
	list-style: none;
	margin: 95px 0 0 315px;
}
.testimonial1 li:before{
	position: absolute;
	background: url(img/lorem1.jpg) 0 0 no-repeat;
	width: 100px;
	height: 98px;
	content: '';
	left:190px;
	top: 142px;
}
.testimonial2 li{
	background: #fff;
	list-style: none;
	position: absolute;
	top:142px;
	right:190px ;
	width: 335px;
	height: 98px;

}
.testimonial2 li:before{
	background: url(img/lorem2.png) 0 0 no-repeat;
	position:absolute;
	width: 100px;
	height: 98px;
	content: '';
	left:-125px;
}
.customer span{
	float: right;
	font-style: italic;
	font-size: 14px;
}
.testimonials em{
	float: left;
	font-size: 14px;
}
.testimonials li div{
	margin:0;
	padding: 15px 0 10px 0;
	overflow: hidden;
	border-bottom:1px dotted #666666;
	color: #3170a8;
}
.testimonials p{
	color: #666666;
	margin: 10px 0 0 0;
	padding: 0;
	font-size: 13px;
	letter-spacing: 0.3px;
	width: 320px;
	line-height: 1.6;
	font-family: 'Open Sans',sans-serif;
}
.triangle1 {
    position: relative;
 	left: 299px;
 	bottom: 58px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 16px solid #fff;
    border-bottom: 12px solid transparent;
}
.triangle2 {
	position: relative;
 	left: 829px;
 	bottom: 83px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 16px solid #fff;
    border-bottom: 12px solid transparent;
}
.footer{
	height: 450px;
	width: 1400px;
	position: relative;
}
.info{
	width: 50%;
	float: left;
	height: 350px;
	background:#fff;
}
.info li:nth-child(1){
	margin: 50px 0 0 245px;
}
.info li{
	margin: 15px 0 0 245px;
	list-style-type: none;
	color: #666666;
	line-height: 2;
	font-size: 14px;
	font-family: 'Myriad Pro',sans-serif;
}

.info li:first-child:before{
	background: url(img/footer6.png);
	width: 23px;
	height: 31px;
	content: '';
	position: absolute;
	left: 187px;
}
.info li:nth-child(2):before{
	background: url(img/footer5.png);
	width: 18px;
	height: 26px;
	content: '';
	position: absolute;
	left: 192px;
}
.info li:nth-child(3):before{
	background: url(img/footer4.png);
	width: 23px;
	height: 16px;
	content: '';
	position: absolute;
	left: 187px;
}
.info div{
	position: relative;
	left: 187px;
	top:25px;
}
.info img{
	margin: 0 18px 0 0;
}
.map{
	width: 50%;
	float: right;
	height: 350px;
	background:url(img/map.jpg);
}

.end{
	background-color: #3070a8;
	height: 100px;
	width: 100%;
	position: relative;
	top: 350px;
}
.end p{
	position: absolute;
	text-align: center;
	left: 539px;
	top: 25px;
	font-size: 14px;
	color: #ffffff;
	font-family: 'Myriad Pro',sans-serif;
}
.end p:nth-of-type(2){
	top:53px;
	left: 604px;
}
.end span{
	color: #1d1c1c;
}
